In [13]:
from sqlalchemy import create_engine

user = 'root'
password = 'root'
host = 'localhost'
port = '3306'
database = 'traffic_violation'

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

In [3]:
# Getting ready with dataframe
import pandas as pd

charge_df=pd.read_csv("Charge_df.csv",index_col=False)
cleaned_df=pd.read_csv("Cleaned_df.csv",index_col=False)

In [5]:
charge_df.rename(columns={"Date Of Stop_x":"Date Of Stop","Time Of Stop_x":"Time Of Stop"},inplace=True)
charge_df.head()

,SeqID,Date Of Stop,Time Of Stop,Charge,Article,Description,Violation Type
0,52282e8c-f2e1-4bb5-8509-2d5e4f8da8ca,2023-05-01,23:11:00,13-401(b1),Transportation Article,operating unregistered motor vehicle on highway,Citation
1,b66f253b-af29-4bc4-bb73-93755ca2a779,2023-08-31,16:41:00,16-101(a1),Transportation Article,driving to drive motor vehicle on highway with...,Citation
2,b66f253b-af29-4bc4-bb73-93755ca2a779,2023-08-31,16:41:00,13-409(b),Transportation Article,failure to display registration card upon dema...,Citation
3,b66f253b-af29-4bc4-bb73-93755ca2a779,2023-08-31,16:41:00,21-310(a),Transportation Article,driver of motor vehicle following vehicle clos...,Citation
4,b66f253b-af29-4bc4-bb73-93755ca2a779,2023-08-31,16:41:00,21-801(b),Transportation Article,failure to control veh. speed on hwy. to avoid...,Citation

In [6]:
cleaned_df.head()

,SeqID,Date Of Stop,Time Of Stop,Agency,SubAgency,Location,Latitude,Longitude,Accident,Belts,...,Make,Model,Color,Race,Gender,Driver City,Driver State,DL State,Arrest Type,District Number
0,52282e8c-f2e1-4bb5-8509-2d5e4f8da8ca,2023-05-01,23:11:00,MCP,"3rd District, Silver Spring",briggs chaney rd/columiba pike,NaN,NaN,False,False,...,chevrolet,CRUZ,black,white,M,gaithersburg,MD,MD,Marked Patrol,3.0
1,b66f253b-af29-4bc4-bb73-93755ca2a779,2023-08-31,16:41:00,MCP,"6th District, Gaithersburg / Montgomery Village",oakmont ave/grovemont cir,39.097965,-77.153010,False,False,...,ford,EXPLORER,black,hispanic,M,gaithersburg,MD,MD,Marked Patrol,6.0
2,971ef50f-f138-419f-89e5-5d2cc5d7b75a,2023-04-30,23:55:00,MCP,"4th District, Wheaton",kemp mill road/alpert lane,39.053038,-77.024637,False,False,...,hyundai,SONATA,red,white,F,silver spring,MD,MD,Marked Patrol,4.0
3,969c21c0-a843-4e3c-bce6-9abecd6c12f3,2023-08-31,08:59:00,MCP,"4th District, Wheaton",kayson/estelle,39.012720,-77.090825,False,False,...,hino,SXR,red,white,M,bethesda,MD,MD,Marked Patrol,4.0
4,df65bb01-5a6f-4f67-a610-082893b1d4fe,2023-09-01,00:27:00,MCP,"5th District, Germantown",13031 wisteria dr,39.178244,-77.270489,False,False,...,honda,4S,gray,black,M,gaithersburg,MD,MD,Marked Patrol,5.0

In [14]:
pd.read_sql("show tables;",engine)

Empty DataFrame
Columns: [Tables_in_traffic_violation]
Index: []

In [15]:
cleaned_df.to_sql("fact_table",engine,index=False)

1172711

In [16]:
pd.read_sql("show columns from fact_table;",engine)

                     Field        Type Null Key Default Extra
0                    SeqID        text  YES        None
1             Date Of Stop        text  YES        None
2             Time Of Stop        text  YES        None
3                   Agency        text  YES        None
4                SubAgency        text  YES        None
5                 Location        text  YES        None
6                 Latitude      double  YES        None
7                Longitude      double  YES        None
8                 Accident  tinyint(1)  YES        None
9                    Belts  tinyint(1)  YES        None
10         Personal Injury  tinyint(1)  YES        None
11         Property Damage  tinyint(1)  YES        None
12                   Fatal  tinyint(1)  YES        None
13      Commercial License  tinyint(1)  YES        None
14                  HAZMAT  tinyint(1)  YES        None
15      Commercial Vehicle  tinyint(1)  YES        None
16                 Alcohol  tinyint(1)  YES        None
17               Work Zone  tinyint(1)  YES        None
18        Search Conducted        text  YES        None
19      Search Disposition        text  YES        None
20          Search Outcome        text  YES        None
21           Search Reason        text  YES        None
22  Search Reason For Stop        text  YES        None
23             Search Type        text  YES        None
24    Search Arrest Reason        text  YES        None
25                   State        text  YES        None
26             VehicleType        text  YES        None
27                    Year      bigint  YES        None
28                    Make        text  YES        None
29                   Model        text  YES        None
30                   Color        text  YES        None
31                    Race        text  YES        None
32                  Gender        text  YES        None
33             Driver City        text  YES        None
34            Driver State        text  YES        None
35                DL State        text  YES        None
36             Arrest Type        text  YES        None
37         District Number      double  YES        None

In [19]:
pd.read_sql("alter table fact_table modify SeqID varchar(100);",engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [20]:
pd.read_sql("alter table fact_table modify `Date Of Stop` Date;",engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [22]:
pd.read_sql("alter table fact_table modify `Time Of Stop` time;",engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [26]:
pd.read_sql("alter table fact_table modify `Year` int;",engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [24]:
pd.read_sql("alter table fact_table add primary key (SeqID);",engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [27]:
pd.read_sql("show columns from fact_table;",engine)

                     Field          Type Null  Key Default Extra
0                    SeqID  varchar(100)   NO  PRI    None
1             Date Of Stop          date  YES         None
2             Time Of Stop          time  YES         None
3                   Agency          text  YES         None
4                SubAgency          text  YES         None
5                 Location          text  YES         None
6                 Latitude        double  YES         None
7                Longitude        double  YES         None
8                 Accident    tinyint(1)  YES         None
9                    Belts    tinyint(1)  YES         None
10         Personal Injury    tinyint(1)  YES         None
11         Property Damage    tinyint(1)  YES         None
12                   Fatal    tinyint(1)  YES         None
13      Commercial License    tinyint(1)  YES         None
14                  HAZMAT    tinyint(1)  YES         None
15      Commercial Vehicle    tinyint(1)  YES         None
16                 Alcohol    tinyint(1)  YES         None
17               Work Zone    tinyint(1)  YES         None
18        Search Conducted          text  YES         None
19      Search Disposition          text  YES         None
20          Search Outcome          text  YES         None
21           Search Reason          text  YES         None
22  Search Reason For Stop          text  YES         None
23             Search Type          text  YES         None
24    Search Arrest Reason          text  YES         None
25                   State          text  YES         None
26             VehicleType          text  YES         None
27                    Year           int  YES         None
28                    Make          text  YES         None
29                   Model          text  YES         None
30                   Color          text  YES         None
31                    Race          text  YES         None
32                  Gender          text  YES         None
33             Driver City          text  YES         None
34            Driver State          text  YES         None
35                DL State          text  YES         None
36             Arrest Type          text  YES         None
37         District Number        double  YES         None

In [29]:
charge_df.to_sql("charges",engine)

2041369

In [30]:
pd.read_sql("show columns from charges;",engine)

            Field    Type Null  Key Default Extra
0           index  bigint  YES  MUL    None
1           SeqID    text  YES         None
2    Date Of Stop    text  YES         None
3    Time Of Stop    text  YES         None
4          Charge    text  YES         None
5         Article    text  YES         None
6     Description    text  YES         None
7  Violation Type    text  YES         None

In [34]:
pd.read_sql("alter table charges rename column `index` to charges_id;",engine)

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'index' in 'charges'")
[SQL: alter table charges rename column `index` to charges_id;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [35]:
pd.read_sql("alter table charges modify SeqID varchar(100);",engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [36]:
pd.read_sql("alter table charges modify `Date Of Stop` date;",engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [37]:
pd.read_sql("alter table charges modify `Time Of Stop` time;",engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [38]:
pd.read_sql("alter table charges add primary key (charges_id);",engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [ ]:
pd.read_sql("show columns from charges;",engine)

            Field          Type Null  Key Default Extra
0      charges_id        bigint   NO  PRI    None
1           SeqID  varchar(100)  YES         None
2    Date Of Stop          date  YES         None
3    Time Of Stop          time  YES         None
4          Charge          text  YES         None
5         Article          text  YES         None
6     Description          text  YES         None
7  Violation Type          text  YES         None